<ion-view view-title="Consultations" cache-view="false">
  <ion-content class="padding">

    <ul class="list">
      <li class="item" ng-show="!consultations.length">No consultations today</li>
      <li class="item" ng-repeat="consultation in consultations">
        {{consultation.subject}}
        <br>
        <span class="small-text fleft">{{consultation.address}}</span>
        <span class="small-text fright">{{consultation.time}}</span>
      </li>
    </ul>

  </ion-content>
</ion-view>
