<ion-view view-title="Select your group" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear back text-white" ui-sref="timetables">
      <i class="ionicons ion-chevron-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-header-bar class="item-input-inset light">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search" id="groupsSearch" ng-model="data.search" ng-change="getGroups()" ng-model-options="{ debounce: 300 }">
        <span on-tap='clearInput()' ng-show='data.search' class='clear-input'>
          <i class="ionicons ion-close"></i>
        </span>
      </label>
    </ion-header-bar>
      <ul class="list">
        <li class="item" ng-repeat="group in data.groups" ng-click="setGroup(group.name, group.id)">
          {{::group.name}}
        </li>
      </ul>
  </ion-content>
</ion-view>
