<ion-view view-title="Settings" cache-view="false" on-swipe-right="swipeRight()">
  <ion-content class="padding">

    <h3 ng-show='currentLecture'>Current lecture</h3>
    <ul class="list" ng-if="currentLecture">
      <li class="item lecture">
        <div class="lecture-number">{{currentLecture.number}}</div>
        <span class="fleft">{{currentLecture.subject}}</span>
        <div class="time">
          <span class="fright time-till">{{currentLecture.time.split('-')[1]}}</span>
          <span class="fright time-from white">Ends at</span>
        </div>
        <br>
        <span class="small-text fleft">{{currentLecture.address}}</span>
        <br>
        <span class="small-text fleft">{{currentLecture.lecture_type}}</span>
        <br>
        <span class="small-text fleft">{{currentLecture.subgroup}}</span>
        <br>
      </li>
    </ul>

    <h3 ng-show="upcomingLecture">Upcoming lecture</h3>
    <ul class='list' ng-class='{ centered: !upcomingLecture }'>
      <li class="item" ng-show="!upcomingLecture && !currentLecture">No more classes left today</li>
      <li class="item" ng-show="upcomingLecture">
        <div class="lecture-number">{{upcomingLecture.number}}</div>
          <span class="fleft">{{upcomingLecture.subject}}</span>
          <div class="time">
            <span class="fright time-till">{{upcomingLecture.time.split('-')[1]}}</span>
            <span class="fright time-from">{{upcomingLecture.time.split('-')[0]}}</span>
          </div>
          <br>
          <span class="small-text fleft">{{upcomingLecture.address}}</span>
          <br>
          <span class="small-text fleft">{{upcomingLecture.lecture_type}}</span>
          <br>
          <span class="small-text fleft">{{upcomingLecture.subgroup}}</span>
          <br>
        </div>
      </li>
    </ul>

<!--     <ul class="list">
      <li class="item" ui-sref="consultations">
        Consultations
      </li>
    </ul> -->

    <h3 class="text-left">
      Current Group:
      <span class="blue-text">
        {{currentGroup.name}}
      </span>
    </h3>
    <button class="button button-full button-positive" ng-click="changeGroup()">
      Change group
    </button>


  </ion-content>
</ion-view>
