<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icons-only tabs-color-active-positive">

  <ion-tab title="Timetables" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/medeine/timetables">
    <ion-nav-view name="timetables"></ion-nav-view>
  </ion-tab>

  <!-- <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/medeine/settings">
    <ion-nav-view name="settings"></ion-nav-view>
  </ion-tab> -->

</ion-tabs>
