<ion-view view-title="Timetables" cache-view="false" on-swipe-left="nextDay()" on-swipe-right='prevDay()'>
  <ion-nav-title>
    {{ currentGroup.name }} Timetables
  </ion-nav-title>
  <ion-content class="padding" style="padding: 0 !important;">
    <div class="week" subheader>
      <div class="week-tab" ng-click="prevWeek()">
          <span class="text-white ion-chevron-left">
          </span>
      </div>
      <div class="week-tab" ng-repeat="day in ::week" ng-click="setWeekDay(day[0])" ng-class="isCurrentDay(day[0]) ? 'tab-active' : ''">
        <span class="text-white">
          {{day[1]}}
        </span>
      </div>
      <div class="week-tab" ng-click="nextWeek()">
          <span class="text-white ion-chevron-right">
        </button>
      </div>
    </div>
    <div class="padder">
      <!-- <ion-refresher pulling-text="Refresh" on-refresh="refetchTimetables()" pulling-icon='ion-chevron-down' spinner='android'></ion-refresher> -->
      <h4 class="text-left fleft">{{ date }}</h4>
      <h4 class="text-right fright">Week #{{ weekNumber }}</h4>
      <br class="clear">
      <!-- <img src="img/ajax-loader.gif" ng-show="showPreloader" class="preloader"> -->
      <ul class="list">
        <li class="item" ng-show="!classes.length">No classes</li>
        <div class="lecture-block" ng-repeat="klass in classes">
          <h5 class="numbre">{{numbers[klass.number-1]}}</h5>
          <li class="item lecture" ng-class="{ 'current-lecture': isCurrent(klass.time) }">
            <div class="lecture-number" ng-if='upcomingLecture === klass'>Upcoming</div>
            <span class="fleft">{{klass.subject}}</span>
            <div class="time">
              <span class="fright time-till">{{klass.time.split('-')[1]}}</span>
              <span class="fright time-from" ng-if="!isCurrent(klass.time)">{{klass.time.split('-')[0]}}</span>
              <span class="fright time-from" ng-if="isCurrent(klass.time)">Ends at</span>
            </div>
            <br>
            <span class="small-text fleft">{{klass.address}}</span>
            <br>
            <span class="small-text fleft">{{klass.lecture_type}}</span>
            <br>
            <span class="small-text fleft">{{klass.subgroup}} subgroup</span>
          </li>
        </div>
      </ul>
    </div>

  </ion-content>
</ion-view>
