<!DOCTYPE html>
<html manifest="/cache.manifest">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#005FAC">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/moment/min/moment.min.js"></script>
    <script src="lib/angular-moment/angular-moment.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/groups_controller.js"></script>
    <script src="js/controllers/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter" ng-controller="VgtuCtrl">

    <ion-nav-bar class="bar-stable">
      <a ui-sref="selectGroup" ng-if="$state.current.name !== 'selectGroup'">
        <button class="button button-icon icon ion-more white"></button>
      </a>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>
  </body>
</html>
