/* Empty. Add your own CSS if you like */
.bar-header {
  background-color: #005FAC !important;
}

.light {
  background-color: #0073D2 !important;
}

.title {
  color: #fff !important;
}

ion-content {
  background-color: #e9eaed;
}

.inline {
  display: inline;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.preloader {
  margin-left: 44%;
  height: 30px;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
  color: #003A6C !important;
}

.blue-text {
  color: #003A6C;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
  border-color: #003A6C !important;
}

.current-lecture {
  background-color: #005FAC;
  color: #fff;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.small-text {
  font-size: .8em;
}

.back-button {
  color: #fff !important;
  opacity: 1 !important;
}

.item-input-inset {
  width: 101%;
  border-left: none;
  border-right: none;
  top: -44px;
  position: fixed;
  z-index: 3;
  color: #005FAC;
}

.scroll-content {
  padding-top: 45px;
}

.bottom {
  position: fixed;
  top: 220%;
  left: 0;
}

.text-center {
  text-align: center;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding {
  padding: 0;
}

.week {
  position: absolute;
  top: 1px;
  left: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  z-index: 999;
}
.padder {
  padding: 50px 10px 10px 10px !important;
}

.bar-stable.bar.bar-header.disable-user-behavior {
  border: none;
}

.tab-active {
  background-color: #005FAC !important;
}

.button.activated {
  background-color: #005FAC !important;
  box-shadow: none !important;
  color: #fff;
}

.button {
  border: none;
}

.text-white {
  color: #fff !important;
}

div {
  border: none !important;
}

.button-normal {
  background-color: #0073D2;
  color: #fff;
}

.col-xs-20 {
  width: 16%;
  float: left;
}

.col-xs-10 {
  width: 10%;
  float: left;
}

.week-tab {
  cursor: pointer;
  text-align: center;
  padding: 1em 0;
  width: 14.285714286%;
  float: left;
  background-color: #0073D2;
  color: #fff;
}

.week-tab:active, .week-tab:hover {
  background-color: #005FAC;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
  color: #005FAC !important;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
  border-color: #005FAC !important;
}

.week-button {
  padding: 0 auto;
}

.small-week {
  width: 15% !important;
}

.clear {
  clear: both;
}

.lecture-number {
  position: absolute;
  right:0;
  top:0;
  background-color: #0073D2;
  color: #fff;
  padding: 0em .5em;
  font-size: 12px;
}

.time-from {
  padding: .7em;
  color: #fff;
  background-color: #005FAC;
}

.time-from.white {
  background-color: white;
  color: #444;
}

.time-till {
  padding: .7em;
  color: #fff;
  background-color: #0073D2;
}

.time {
  position: absolute;
  bottom: 0;
  right: 0;
}

.lecture {
  padding-left: 10px;
  margin-bottom: 10px;
}
button {
  border-radius: .3em !important;
}
.numbre {
  color: #BCBCBC;
  margin-bottom: -3px;
}

.item {
  border-radius: .3em;
  box-shadow: 1px 1px 1px 0 #DBDBDB;
}

.item.lecture {
  border-top-left-radius: 0;
}

ul.list.centered li {
  text-align: center;
}

.button.white {
  color: white;
  z-index: 1000;
  float: right;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 0;
  padding-top: 7px;
}

.button.white:hover {
  color: white;
}

.button-icon .icon:before, .button-icon.icon:before {
  font-size: 25px;
}

.button:after {
  margin-bottom: -50px;
}

.ion-ios-arrow-thin-left {
  font-size: 36px;
}

.clear-input {
  font-size: 18px;
  cursor: pointer;
  margin-top: 5px;
}

.bar .button.button-clear.back {
  padding-left: 6px;
  padding-top: 2px;
}

.scroll-refresher {
  top: 0;
}

.scroll-refresher .icon-pulling, .scroll-refresher .text-pulling {
  color: #005FAC;
}

.spinner svg {
  fill: #005FAC;
  stroke: #005FAC;
}